:root{
    --switch-color-toggle: #0c0e15;
    --switch-color: #1982a4;
    --color-menu-icon: #0c0e15;

    --text-color-primary: #0C0E15;
    --text-color-secondary: #13151D;

    --bg-color-primary: #f3f7fd;
    --color-secondary: #F1015D;
}
