-
  let portafolios = [
    {
      name : "CountryApi",
      urlImg : "./assets/imagenes/portafolio/countryApi.png",
      urlRepo : "https://github.com/angelMarcosCastilla/countryApi",
      urlview : "https://kind-raman-daf0bc.netlify.app/"
    },
    {
      name : "PokeMemory",
      urlImg:"./assets/imagenes/portafolio/pokeeMemory.png",
      urlRepo : "https://github.com/angelMarcosCastilla/pokeMemory",
      urlview : "https://angelmarcoscastilla.github.io/pokeMemory/pokeMemory/"
    },
    {
      name : "EasyBank-frontedMentor",
      urlImg: "./assets/imagenes/portafolio/easyBank.png",
      urlRepo : "https://github.com/angelMarcosCastilla/easybank-landing-page-master",
      urlview : "https://angelmarcoscastilla.github.io/easybank-landing-page-master/"
    },
    {
      name : "base apparel landing page",
      urlImg: "./assets/imagenes/portafolio/baseApparel.png",
      urlRepo : "https://github.com/angelMarcosCastilla/base-apparel-coming-soon-master",
      urlview : "https://angelmarcoscastilla.github.io/base-apparel-coming-soon-master/",
    },
    {
      name : "card-acordeon",
      urlImg: "./assets/imagenes/portafolio/cardAcordeon.png",
      urlRepo : "https://github.com/angelMarcosCastilla/card-acordeon",
      urlview : "https://angelmarcoscastilla.github.io/card-acordeon/",
    },
    
  ]