-
  let portafolios = [
    {
      name : "CountryApi",
      urlImg : "./assets/imagenes/portafolio/countryApi.png",
      urlRepo : "https://github.com/angelMarcosCastilla/countryApi",
      urlview : "https://kind-raman-daf0bc.netlify.app/"
    },
    {
      name : "PokeMemory",
      urlImg:"./assets/imagenes/portafolio/pokeeMemory.png",
      urlRepo : "https://github.com/angelMarcosCastilla/pokeMemory",
      urlview : "https://angelmarcoscastilla.github.io/pokeMemory/pokeMemory/"
    },
    {
      name : "EasyBank-frontedMentor",
      urlImg: "./assets/imagenes/portafolio/easyBank.png",
      urlRepo : "https://github.com/angelMarcosCastilla/easybank-landing-page-master",
      urlview : "https://angelmarcoscastilla.github.io/easybank-landing-page-master/"
    },
  ]