include ../config/portafolios.pug
  doctype html
  html(lang="es") 
    head
      meta(charset="UTF-8")
      block title
      meta(http-equiv="X-UA-Compatible", content="IE=edge")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      meta(name="description", content="Hola! bienvenido a mi portafolio, Soy Angel Marcos - Desarrolador web ")
      meta(name="keywords", content="Portafolio, Paginas web, Proyectos")
      meta(name="author", content="ANGEL MARCOS CASTILLA")
      link(rel='preconnect', href='https://fonts.gstatic.com')
      link(href='https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&family=Roboto:wght@300&display=swap', rel='stylesheet')
      link(rel="stylesheet", href="./css/styles.css")
    body
      header.header 
        block header
      main.main  
        block main
      footer.footer
        block  footer
      block scripts
  