.switch {
	position: relative;
	width: 60px;
	height: 18px;
	display: flex;
	align-items: center;
	background: var(--switch-color);
	border-radius: 10px;
}
.toggle-switch {
	position: absolute;
	left: var(--toggle-left);
	display: block;
	padding: 3px;
	width: 35px;
	height: 35px; 
	background: var(--theme-icon)  no-repeat center;
	background-size: 20px;
	cursor: pointer;
	border-radius: 50%;
	background-color: var(--switch-color-toggle);
	transition:all .2s ease-in-out;
}