.switch {
	position: relative;
	width: 60px;
	height: 18px;
	display: flex;
	align-items: center;
	background: var(--switch-color);
	border-radius: 10px;
}
.toggle-switch {
	position: absolute;
	padding: 3px;
	width: 35px;
	height: 35px; 
	background-size: 20px;
	cursor: pointer;
	border-radius: 50%;
	background-color: var(--switch-color-toggle);
	transition:transform .2s ease-in-out;
}
.icon-toggle-sun{
	display: none;
}
.toggle-switch--active .icon-toggle-sun{
	display: block;
}

.toggle-switch--active .icon-toggle-moon {
	display: none;
}

.toggle-switch--active {
	transform: translateX(25px);
}