#menu.container-menu
  ul.menu
    li.menu__item
      a.menu__enlace(href='#inicio') Inicio
    li.menu__item
      a.menu__enlace(href='#sobreMi') Sobre mi
    li.menu__item
      a.menu__enlace(href='#portafolio') Portafolio