.switch
  span.toggle-switch.flex.aling-center.justify-center#switch
    img(src="./assets/imagenes/moon-icon.svg", alt="icon sun").icon-toggle-moon
    img(src="./assets/imagenes/sun-icon.svg", alt="icon moon").icon-toggle-sun